<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Size göre en özel filmler</h1>
        <p class="lead">Onlarca film arasından seçim yapmanızı, kendi listelerinizi oluşturmanızı ve arkadaşlarınızla paylaşmanızı sağlayan bir platformdur. Hemen keşfetmeye başlayın!</p>
    </div>
</div>